body {
    padding-left: 0px;
    padding-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

p {
    padding: 0px;
    margin: 0px;
}

.section {
    border-top: 1px solid #BBB;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-bottom: 0px;
    background-color: white;
}

.section ul {
    list-style: none;
    margin-top: 5px;
}

.section ul li {
    display: inline;
}

.section span.code {
    font-family: "Courier New", Courier, monospace;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 11px;
    border-left: 1px solid #000;
}

.section .link {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
    margin-left: 10px;
}

.section .important {
    text-decoration: underline;
}

.section .title {
    font-weight: bold;
    font-size: 16px;
}

.clear {
    clear: left;
}

.section.header {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    border-top: none;
}

.section.footer {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}


/* Gallery Styling */
.gallery .image-title,
.gallery .image-description,
.gallery .image-author,
.gallery .image-link {
	display:none;
}

.gallery
{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: none;
}

.gallery ul.images
{
	list-style-type: none;
	border: none;
	padding: none;
}

.gallery ul.images li.image
{
	display: inline;
	line-height: 0;
}

.gallery ul.images li.image a.image-thumbnail
{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	margin: 14px;
	display: inline-block;
	background: white;
	padding: 3px;
	line-height: 0;
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	-moz-box-shadow: 0px 0px 8px #AAA;
	-webkit-box-shadow: 0px 0px 8px #AAA;
	box-shadow: 0px 0px 8px #AAA;
	-webkit-transition: -webkit-box-shadow 0.1s ease-out;
	-moz-transition: -webkit-box-shadow 0.1s ease-out;
	-o-transition: -webkit-box-shadow 0.1s ease-out;
	transition: -webkit-box-shadow 0.1s ease-out;
}

.gallery ul.images li.image a.image-thumbnail img
{
	border: none;
	padding: none;
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}

.gallery ul.images li.image a.image-thumbnail:hover
{
	-moz-box-shadow: 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 8px #222;
	box-shadow: 0px 0px 8px #222;
}
