/* Imports*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('./generic.css');

/* Gallery Styling */
.gallery .image-title,
.gallery .image-description,
.gallery .image-author,
.gallery .image-link {
	display: none;
}

.gallery {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: none;
}

.gallery ul.images {
	list-style-type: none;
	border: none;
	padding: none;
}

.gallery ul.images li.image {
	display: inline;
	line-height: 0;
}

.gallery ul.images li.image a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	margin: 14px;
	display: inline-block;
	background: white;
	padding: 3px;
	line-height: 0;
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	-moz-box-shadow: 0px 0px 8px #aaa;
	-webkit-box-shadow: 0px 0px 8px #aaa;
	box-shadow: 0px 0px 8px #aaa;
	-webkit-transition: -webkit-box-shadow 0.1s ease-out;
	-moz-transition: -webkit-box-shadow 0.1s ease-out;
	-o-transition: -webkit-box-shadow 0.1s ease-out;
	transition: -webkit-box-shadow 0.1s ease-out;
}

.gallery ul.images li.image a img {
	border: none;
	padding: none;
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}

.gallery ul.images li.image a:hover {
	-moz-box-shadow: 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 8px #222;
	box-shadow: 0px 0px 8px #222;
}
